@use "../../foundation/global/index" as g;

.c-button{
    &__img--flame{
        position: relative;
    }
    &__img--red{
        position: absolute;
    }
    &__img--yellow{
        position: absolute;
    }
    &__img--light{
        position: absolute;
    }
    &__text{
        width: 100%;
        font-family: g.$fontHanSerif;
        color: g.$color-white;
        position: absolute;
        top: 3vw;
        text-align: center;
        font-weight: 700;
    }
    &__link{
        font-size: 3vw;
        line-height: 3.29vw;
        :hover{
            cursor: pointer;
            
        }
    }
    
}