@use "../../foundation/global/index" as g;

.c-title{
    &__img--upper{
    
    }
    &__text{
        display: block;
        font-family: 'Noto Serif JP', serif;
        font-size: 6vw;//36px
        line-height: 10.48vw;
        font-weight: 700;
        color: g.$color-gold;
        margin: 0 auto;
        text-align: center;
    }
    &__text--small{
        font-family: 'Noto Serif JP', serif;
        font-size: 3.33vw;//20px
        font-weight: 700;
        line-height: 5.33vw;//32px
        color: #0e213d;
    }
    &__text--medium{
        font-family:g.$fontNSerif;
        font-size: 4.33vw;//26px
        font-weight: 700;
        line-height: 7.57vw;//45.44px
        color: g.$color-gold;
        display: block;
        margin: 0 auto;
        text-align: center;
    }

}