.p-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__registor{
        position: relative;
        display: block;
        width: 50vw;
        height: 10vw;
    }
    &__login{
        position: relative;
        display: block;
        width: 50vw;
        height: 10vw;
    }
    >li{
        list-style: none;
    }
}