@use "../../foundation/global/index" as g;


.p-title{
  &__button--round{
    display: flex;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 1.5625rem;
    border: 1px solid g.$color-gold;
    width: 450px;
    height: 3.125rem;
    justify-content: center;
    align-items: center;
  }
  &__button--round-long{
    display: flex;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 1.5625rem;
    border: 1px solid g.$color-gold;
    width: 550px;
    height: 3.125rem;
    justify-content: center;
    align-items: center;
  }
}