@use "../../foundation/global/index" as g;


.p-title{
  &__button--round{
    display: flex;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 4.1vw;
    border: 1px solid g.$color-gold;
    width: 75vw;//450px
    height: 8.334vw;//50px
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
  }
  &__button--round-long{
    display: flex;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 4.1vw;
    border: 1px solid g.$color-gold;
    width: 91.66vw;
    height: 8.334vw;//50px
    justify-content: center;
    align-items: center;
    margin-bottom: 5vw;
    padding-left: 1.33vw;
  }
}