.p-title{
    &__img--upper{
    
    }
    &__text{
        display: block;
        font-family: 'Noto Serif JP', serif;
        font-size: 2.25rem;
        font-weight: 700;
        color: #EEC97B;
        margin: 0 auto;
        text-align: center;
    }
}